$mainfont: "Montserrat", sans-serif;

$regular: 400;
$semibold: 500;
$bold: 700;
$xbold: 900;

$maintext: #2e2e2e;
$lighttext: #c4a37b;
$alttext: #5a5a5a;
$white: #fff;
$black: #000;
$featuresbackground: #292929;
$footertext: #ababab;
$innerlabel: #aeaeae;

$mediumfont: 1.8rem;
$smallfont: 1.4rem;
$regularfont: 1.6rem;

$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-lgx-min: 1024px;
